* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

@keyframes animHangman {
  0% {
    height: 0;
  }
  100% {
    height: 80px;
  }
}
@keyframes lowLife {
  0% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(-20deg);
    color: red;
  }
  100% {
    transform: rotate(20deg);
  }
}

@media screen and (max-width: 768px) {
  /* body {
    overflow: hidden;
  } */
  .container {
    flex-wrap: wrap;
  }
  .randomWord {
    /* display: flex; */
    width: 90%;
    flex-wrap: wrap;
    margin: -270px 45px 30px 60px;
  }
  .allLetters {
    width: 80%;
  }
  .letters {
    width: 40px;
    height: 40px;
  }
  .randomWordButton {
    margin: 20px 0 60px 0;
    width: 50%;
    position: absolute;
    bottom: 0;
    height: 50px;
  }

  .hangmanContainer {
    height: 280px;
  }
  .hangman {
    position: relative;
    top: 20px;
  }
}
